.belt-test-end-of-life-start {
  form.form-container {
    .keybenefits-container {
      .image {
        height: 220px;
        background: url('../calculators/belt-test-end-of-life/img/imagery-keybenefits.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
