.scotch-bright-start {
  form.form-container {
    .keybenefits-container {
      .image {
        height: 220px;
        background: url('../calculators/scotch-bright/img/imagery-keybenefits.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
