.disk-test-start {
  form.form-container {
    .keybenefits-container {
      .image {
        height: 220px;
        background: url('../calculators/disk-test/img/imagery-keybenefits-new.png') no-repeat;
        background-size: contain;
      }
    }
  }
}
